
<table class="table table-striped">
	<thead>
    <tr>
      <th><%= link_to "Room", results_path(:sort_by => "room", :ord => @order)  %></th>
      <th><%= link_to "Area", results_path(:sort_by => "area", :ord => @order)  %></th>
			<th><%= link_to "Check Item", results_path(:sort_by => "check_item", :ord => @order)  %></th>
      <th><%= link_to "Comment", results_path(:sort_by => "comment", :ord => @order)  %></th>
      <th><%= link_to "Severity", results_path(:sort_by => "severity", :ord => @order)  %></th>
    </tr>
  </thead>
	<tbody>
<% @results.each do |result| %>
		<tr>
			<td><%= result.check_item.check_list.name %></td>
			<td><%= result.check_item.area %></td>
			<td><%= result.check_item.name %></td>
			<td><%= link_to result.comment, edit_result_path(result) %></td>
			<td><%= result.severity %></td>
		</tr>
<% end %>

	</tbody>
</table>

<br /><br />
<%= link_to "See rooms", check_lists_path %>