
<table class="table table-striped">
	<thead>
    <tr>
      <th><%= link_to "Room", results_path(:sort_by => "room")  %></th>
      <th>Area</th>
			<th>Check Item</th>
      <th>Comment</th>
      <th>Severity</th>
    </tr>
  </thead>
	<tbody>
<% @results.each do |result| %>
		<tr>
			<td><%= result.check_item.check_list.name %></td>
			<td><%= result.check_item.area %></td>
			<td><%= result.check_item.name %></td>
			<td><%= result.comment %></td>
			<td><%= result.severity %></td>
		</tr>
<% end %>

	</tbody>
</table>