<% content_for :nav do %>
<li><%= link_to "Back to Room", check_list_path(@check_item.check_list_id) %></li>
<li><%= link_to 'Rooms List', check_lists_path %></li>
<% end %>

<h1>Edit <%= @check_item.name %></h1>
<br /><br />
<%= render :partial => 'checkitem' %>
<%= link_to "Delete", check_item_path(:check_item_id => @check_item.id), :method => 'DELETE', :confirm => 'Are you sure?', :class => "btn btn-danger" %>

