<% content_for :head do %>
<script language="javascript">

$(document).ready(function () {
	qs = new String(window.location);

	if(qs.indexOf("#", 0) > 0) { // anchor tag is used
		window.scrollBy(0,-40); // offset to take into account the nav bar
	}
});



</script>
<% end %>

<h1>Room: <%= @checklist.name %></h1>
<p>
<%= link_to("Add Check", new_check_item_path(:check_list_id => params[:id]), :class => "btn btn-primary btn-small") %> 
<%= link_to("Clear OK's", check_list_path(:check_list_id => params[:id], :clean => 'true'), :class => "btn btn-primary btn-small") %>
<%= link_to("Delete Room", check_list_path(:check_list_id => params[:id]), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-small") %>
</p>

<table id="CheckItemTable" class="table table-striped">
    <% if @checkitems.length > 0 %>
		<%= form_tag(check_list_path, :method => "put", :name => "reorder") do %>
			<%= hidden_field(:check_list_id, @checklist.id) %>
			<% if @checkitems.length > 1 %>
				<thead>
					<tr>
						<th>Order</th>
						<th>Check</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
			<% end %>
			<tbody>
			<% @checkitems.each do |check_item| %>
				<tr>
					<td><%= text_field(:check_item, check_item.id, {:value => check_item.item_order, :style => "width: 1.5em;"}) %></td>
					<td><%= check_item.name %> (<%= check_item.area %>) <%= link_to "edit", edit_check_item_path(check_item), :class => "icon-pencil" %></td>
					<td><%= describe_problem(check_item.id).html_safe %></td>
					<td><%= link_to_problem(check_item.id).html_safe %></td>
				</tr>
			<% end %>
			</tbody>
			<tr>
				<td colspan="4">
				<%= submit_tag("Reorder Checks", :class => 'btn btn-primary btn-large', :id => 'submit') %>
				<%= link_to("Mark Unchecked as OK", results_path(:check_list_id => @checklist.id, :markasok => true), :method => "post", :class => "btn btn-warning btn-large") %>
				</td>
			</tr>
		<% end %>
	<% end %>

</table>

<br/>
<br/>
<% if @checkitems.length == 0 && (@checkitemtemplatescount > 0 || @checklists.count > 0) %>
    <div class="alert alert-info">
        <h2>You have a new room!</h2>
        <br /><br />
				<% if @checkitemtemplatescount > 0 %>	
 				   <%= link_to "Pre-populate Checks", check_item_templates_clone_path(:check_list_id => params[:id]), :class => "btn btn-primary" %><br />
					 <% if @checklists.count > 0 %>
						 <br />
					   OR
					 <% end %>
				<% end %>
				<% if @checklists.count > 0 %>		
			    <%= form_tag(check_list_clone_path, :method => :post) do |f| %>
			        copy checks from room: 
							<%= select_tag "clone_check_list_id", options_from_collection_for_select(@checklists, "id", "name") %>
			        <%= hidden_field_tag 'check_list_id', params[:id] %>
			        <%= submit_tag "Copy" %>
			    <% end %>
	    	<% end %>
    </div>
<% end %>
