<% content_for :head do %>
<script language="javascript">
function checkAll(check_everything, form_obj) {
    for(var i = 0; i < form_obj.length; ++i) {
        if(form_obj[i].type == "checkbox") {
            if(form_obj[i].disabled == false) {
                form_obj[i].checked = check_everything;
            }
        }
    }
	toggleSubmitButton(form_obj)
}

function toggleSubmitButton(form_obj) {
	var nothing_checked = true;
	for(var i = 0; i < form_obj.length; ++i) {
		if(form_obj[i].type == "checkbox") {
            if(form_obj[i].checked == true) {
                nothing_checked = false;
            }
        }
	}
	
	form_obj.submit.disabled = nothing_checked;
}

</script>
<% end %>
<% content_for :nav do %>
<li><%= link_to "Add Check", new_check_item_path(:check_list_id => params[:id])%></li>
<li><%= link_to "Delete Room", check_list_path(:check_list_id => params[:id]), confirm: 'Are you sure?', method: :delete %></li>
<li><%= link_to "Go back", check_lists_path %></li>
<% end %>

<h1>Room: <%= @checklist.name %></h1>
<table id="CheckItemTable" class="table table-striped">
    <% if @checkitems.length > 0 %>
		<%= form_tag(results_path, :method => "post", :name => "makeok") do %>
			<%= hidden_field(:check_list_id, @checklist.id) %>
			<% if @checkitems.length > 1 %>
				<thead>
					<tr>
						<th><%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll(this.checked, document.makeok);") %></th>
						<th colspan="2">Mark all below as OK unless problem is already entered</th>
					</tr>
				</thead>
			<% end %>
			<tbody>
			<% @checkitems.each do |check_item| %>
				<tr id="<%=check_item.id%>">
					<td><%= check_box_tag("results[#{check_item.id}]", true, false, :disabled => disable_checkbox(check_item.id), :onClick => "toggleSubmitButton(document.makeok);") %></td>
					<td><%= check_item.name %> in <%= check_item.area %> <%= link_to "edit", edit_check_item_path(check_item), :class => "btn btn-warning btn-mini" %></td>
					<td><%= link_to_problem(check_item.id) %></td>
				</tr>
			<% end %>
			</tbody>
			<tr><td colspan="3"><%= submit_tag("Mark selected as OK", :confirm => 'Are you sure?', :class => 'btn btn-primary btn-large', :disabled => true, :id => 'submit') %></td></tr>
		<% end %>
	<% end %>

</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#CheckItemTable').tableDnD({
	  onDrop: function(table, row) {
			var new_order = new Array()

			var rows = table.tBodies[0].rows;
			for(var i = 0; i < rows.length; ++i) {
				new_order.push(rows[i].id)
			}

		  $.ajax({
			  type: "PUT",
			  url: "/check_lists/<%=@checklist.id %>?order="+new_order.join('X'),
				datatype: 'json'
			}).done(function( msg ) {
			  //alert( "Data Saved: " + msg );
			});
	  }
	});
});
</script>
<br/>
<br/>
<% if @checkitems.length == 0 && (@checkitemtemplatescount > 0 || @checklists.count > 0) %>
    <div class="alert alert-info">
        <h2>You have a new room!</h2>
        <br /><br />
				<% if @checkitemtemplatescount > 0 %>	
 				   <%= link_to "Pre-populate Items", check_item_templates_clone_path(:check_list_id => params[:id])%><br />
					 <% if @checklists.count > 0 %>
						 <br />
					   OR
					 <% end %>
				<% end %>
				<% if @checklists.count > 0 %>		
			    <%= form_tag(check_list_clone_path, :method => :post) do |f| %>
			        copy check items from: 
							<%= select_tag "clone_check_list_id", options_from_collection_for_select(@checklists, "id", "name") %>
			        <%= hidden_field_tag 'check_list_id', params[:id] %>
			        <%= submit_tag "Clone" %>
			    <% end %>
	    	<% end %>
    </div>
<% end %>
