<%= form_for(@check_item_template) do |f| %>
  <% if @check_item_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_item_template.errors.count, "error") %> prohibited this check_item_template from being saved:</h2>

      <ul>
      <% @check_item_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :item_order %><br />
    <%= f.number_field :item_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
