<h1>Default Checks for New Rooms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Area</th>
    <th>Item order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @check_item_templates.each do |check_item_template| %>
  <tr>
    <tr id="<%=check_item.id%>"><td><%= check_item_template.name %></td>
    <td><%= check_item_template.area %></td>
    <td><%= check_item_template.item_order %></td>
    <td><%= link_to 'Show', check_item_template %></td>
    <td><%= link_to 'Edit', edit_check_item_template_path(check_item_template) %></td>
    <td><%= link_to 'Destroy', check_item_template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#CheckItemTable').tableDnD({
	  onDrop: function(table, row) {
			var new_order = new Array()

			var rows = table.tBodies[0].rows;
			for(var i = 0; i < rows.length; ++i) {
				new_order.push(rows[i].id)
			}

		  $.ajax({
			  type: "PUT",
			  url: "/check_lists/<%=@checklist.id %>?order="+new_order.join('X'),
				datatype: 'json'
			}).done(function( msg ) {
			  //alert( "Data Saved: " + msg );
			});
	  }
	});
});
</script>

<br />

<%= link_to 'New Check item template', new_check_item_template_path %>
<br />
<%= link_to 'Back to Rooms List', check_lists_path %>
