<h1>Default Checks for New Rooms</h1>
<p>All items can be added to any new room as a default template item</p>
<p><%= link_to 'New Default Check', new_check_item_template_path, :class => "btn btn-primary" %></p>

<table id="CheckItemTemplateTable" cellspacing='0' cellpadding='2' class="table">
	<thead>
		<tr>
			<th align="left">Name</th>
			<th align="left">Area</th>
			<th></td>
		</tr>
	</thead>
	<tbody>
		<% @check_item_templates.each do |check_item_template| %>
		   <tr id="<%=check_item_template.id%>">
				<td><%= check_item_template.name %></td>
				<td><%= check_item_template.area %></td>
				<td>
					<%= link_to 'Edit', edit_check_item_template_path(check_item_template), :class => "btn btn-primary btn-mini" %>
					<%= link_to 'Delete', check_item_template, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger btn-mini" %>
				</td>
		  </tr>
		<% end %>
	</tbody>
</table>




