<% content_for :head do %>
<script langauge="javascript">
function moveToTop(check_item_template_id) {
	alert("check_item_template_"+check_item_template_id);
	$("#check_item_template_"+check_item_template_id).val(".0000001");
	return true;
}
</script>
<% end %>

<h1>Default Checks for New Rooms</h1>
<p>All items can be added to any new room as a default template item</p>
<p><%= link_to 'New Default Check', new_check_item_template_path, :class => "btn btn-primary" %></p>

<% if @check_item_templates.length > 0 %>
	<%= form_tag(reorder_check_item_templates_path, :method => "put", :name => "reorder") do %>
		<table id="CheckItemTemplateTable" class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th align="left">Order</th>
					<th align="left">Check</th>
					<th align="left">Action</td>
				</tr>
			</thead>
			<tbody>
				<% @check_item_templates.each do |check_item_template| %>
				   <tr>
						<td><%= image_submit_tag("to_top_arrow.png", :onclick => "return moveToTop(#{check_item_template.id})") %></td>
						<td><%= text_field(:check_item_template, check_item_template.id, {:value => check_item_template.item_order, :style => "width: 1.5em;"}) %></td>
						<td><%= check_item_template.name %> (<%= check_item_template.area %>)</td>
						<td>
							<%= link_to 'Edit', edit_check_item_template_path(check_item_template), :class => "btn btn-primary" %>
							<%= link_to 'Delete', check_item_template, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
						</td>
				  </tr>
				<% end %>
			</tbody>
		</table>
		<%= submit_tag("Reorder Checks", :class => 'btn btn-primary btn-large', :id => 'submit') %>
	<% end %>
	<br />	<br />
	<% if @checklists.count > 0 %>		
	    <%= form_tag(reverseclone_check_item_templates_path, :method => "put", :name => "reverseclone") do |f| %>
	        Copy checks from room: 
			<%= select_tag "clone_check_list_id", options_from_collection_for_select(@checklists, "id", "name") %>
            <%= submit_tag "Copy", :class => "btn btn-warning" %>
	    <% end %>
   	<% end %>
<% end %>



