<h1>Default Checks for New Rooms</h1>
<p>All items can be added to any new room as a default template item</p>


<table id="CheckItemTemplateTable" cellspacing='0' cellpadding='2'>
	<tr>
    <th align="left">Name</th>
    <th align="left">Area</th>
		<th colspan="3"></td>
  </tr>
<% @check_item_templates.each do |check_item_template| %>
   <tr id="<%=check_item_template.id%>">
		<td><%= check_item_template.name %></td>
		<td><%= check_item_template.area %></td>
		<td><%= link_to 'Edit', edit_check_item_template_path(check_item_template) %></td>
		<td><%= link_to 'Delete', check_item_template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$('#CheckItemTemplateTable').tableDnD({
	  onDrop: function(table, row) {
	  			var new_order = new Array()
	  			var rows = table.tBodies[0].rows;
	  			for(var i = 0; i < rows.length; ++i) {
	  				new_order.push(rows[i].id)
	  			}
	  			
	  		  $.ajax({
	  			  type: "PUT",
	  			  url: "/check_item_templates/reorder?order="+new_order.join('X'),
	  				datatype: 'json'
	  			}).done(function( msg ) {
	  			  // alert( "Data Saved: " + msg );
	  			});
	  }
	});
});
</script>


<br />

<%= link_to 'New Check item template', new_check_item_template_path %>
<br />
<%= link_to 'Back to Rooms List', check_lists_path %>
