<!DOCTYPE html>
<html>
<head>
  <title>Roomcheck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%=  yield :head %>
</head>
<body>
<% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>

<%= yield %>
<br /><br />
<%= link_to("Logout", destroy_user_session_path, :method => 'DELETE') if user_signed_in? %>
</body>
</html>
 
